[submodule "FedAvg"]
	path = FedAvg
	url = git@github.com:catb62/FedAvg.git
[submodule "FedProto"]
	path = FedProto
	url = git@github.com:catb62/FedProto.git
[submodule "FedTGP"]
	path = FedTGP
	url = git@github.com:catb62/FedTGP.git
[submodule "LG-FedAvg"]
	path = LG-FedAvg
	url = git@github.com:catb62/LG-FedAvg.git
